
.idea/.idea.Date/.idea/encodings.xml
.idea/.idea.Date/.idea/indexLayout.xml
.idea/.idea.Date/.idea/vcs.xml
bin/Debug/net6.0/Date.dll
bin/Debug/net6.0/Date.pdb
bin/Debug/net6.0/Date.staticwebassets.runtime.json
obj/Date.csproj.nuget.dgspec.json
obj/Date.csproj.nuget.g.props
obj/Debug/net6.0/Date.AssemblyInfo.cs
obj/Debug/net6.0/Date.assets.cache
obj/Debug/net6.0/Date.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Date.dll
obj/Debug/net6.0/Date.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Date.genruntimeconfig.cache
obj/Debug/net6.0/Date.pdb
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/staticwebassets.pack.json
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/rider.project.model.nuget.info
obj/rider.project.restore.info
